<div class="quick__buy__bar">

    {%- assign current_variant = product.first_available_variant -%}

    <div class="container-fluid p-0">

        <div class="row">

            <div class="holder d-flex align-items-center justify-content-between">

                <div class="info">

                    <div class="title">{{ product.title }}</div>
                    
                    {% unless product.has_only_default_variant %}
                        <div class="variant">{{ current_variant.option1 }}</div>
                        <div class="variant">{{ current_variant.option2 }}</div>
                    {% endunless %}

                    <div class="money quickbuy__prod__price" data-product-price>
                        {{ current_variant.price | money }}
                    </div>
    
                </div>
    
                <div class="form">
    
                    {% form 'product', product %}
    
                    <select name="id" class="no-js single-option-selector no-js-option-select-quickbuy" data-product-select>
                        {% for variant in product.variants %}
                        <option
                            {% if variant == current_variant %}selected="selected"{% endif %}
                            {% unless variant.available %}disabled="disabled"{% endunless %}
                            value="{{ variant.id }}">
                            {{ variant.title }}
                        </option>
                        {% endfor %}
                    </select>
    
                    <div class="product-add-to-basket quickbuy-add">
                        <button type="submit" name="add" data-add-to-cart {% if current_variant.available %}{%else%}disabled{% endif %} class="btn-add-to-cart btn btn-primary btn-100 {% if current_variant.available %}variant-available{% else %}variant-not-available btn-disabled{% endif %}">
                            <span data-add-to-cart-text>
                            {% if current_variant.available %}
                                {{ 'products.product.add_to_cart' | t }}
                            {% else %}
                                {{ 'products.product.sold_out' | t }}
                            {% endif %}
                            </span>
                        </button>
                    </div><!-- product-add-to-basket -->
            
                    {% endform %}
    
                </div>

            </div>

        </div>

    </div>

</div>